* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #BDE0FE;
}


a {
  display: flex;
  text-decoration: underline;
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}

.wrapper {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  margin: 0;
  flex: 0 1 auto;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
  padding-left: 2rem;
  padding-bottom: 0rem;
  justify-content: space-between;
}

.constrain {
  padding-top: 0rem;
  padding: 1.25rem;
  font-size: 20px;
}

.option {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: flex-start;  
  flex: 1 0 auto;
}

.page {
  display: flex;
  gap: 15px;
  font-size: 20px;
  padding: 1rem;

}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}

#build {
  width: 25%;
}

#building_list {
  font-size: 20px;
}

#map {
  width:100%;
  height: 50%;
  padding-top: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.box {
  display: flex;
  background-color: rgba(239, 239, 239, 0.40);
  border: 2px dashed;
  border-radius: 4px;

  width: fit-content;
  height:fit-content;
  padding: 1.25rem;
  margin: 0 auto;
}

.left_section {
  background-color: rgba(0, 139, 139, 0.8);
  flex: 0 1 auto;
  margin: 1rem;
  padding: 1.5rem;
  width: 50%;
}

.right_section {
  background-color: rgba(255, 224, 138, 0.7);
  flex: 1 1 auto;
  margin: 1rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}


form input {

    width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: fill-available;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 4px;
  }

  form label {
    width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: fill-available;
    align-items: flex-start;

    display: block; 
    margin-bottom: 0.5rem;
  }